/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 1280px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.page-header {
    margin-top: 60px;
}

.horizontal-form .error input, .horizontal-form .error textarea {
    border: 1px #a94442 solid;
}

#js-alert-cont {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

#js-alert {
    margin: 0 auto;
}

.fl-right {
    float:right;
}

.m-r_m {
    margin-right: 10px;
}

.fl-left {
    float:left;
}

.m-l_m {
    margin-left: 10px;
}

.m-0 {
    margin: 0;
}

.p-l_m {
    padding-left: 10px;
}

.p-r_m {
    padding-right: 10px;
}

.full-w {
    width: 100%;
}